label {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -70px;
  z-index: 1; /* add z-index */
}

#canvas {
  position: fixed;
  left: 0;
  bottom: 0; /* change top to bottom */
  width: 100%;
  height: 100%;
  pointer-events: none; /* add pointer-events property */

  
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  z-index: 1; /* add z-index */
  opacity: 0;
  transition: opacity 0.5s ease;
}


audio:hover {
  opacity: 1;
}