h1 {
    color: black;
    font-family: courier;
    font-size: 200%;
    text-align: center;
  }

a {
    font-family: courier;
    font-size: 100%;
    color: black;
  }

#centre {
    
    text-align: center;

  }