h1 {
    
  font-family: courier;
  font-size: 200%;
  text-align: center;

}


#header-text {

  font-family: courier;
}

a {
  font-family: courier;
  font-size: 100%;
 
}

a:link, a:visited {
  color: inherit;
 
}

#centre {
  
  text-align: center;

}

#github-link {
position: fixed;
bottom: 10px;
right: 10px;
color: black;
}

#frequency-display {
position: fixed;
top: 40px;
right: -1px;
padding: 10px;
font-size: 20px;
font-family: courier;
}

.frequency-button {
position: absolute;
top: 10px;
font-family: courier;
font-size: 8x;
padding: 10px;
background-color: #333;
color: #fff;
border: none;
cursor: pointer;
}

.frequency-button:hover {
background-color: #fff;
color: #333;
}

#decrease-frequency {
  right: 175px;
}

#increase-frequency {
  right: 212px;
}
